# MongoDB configurations
# MONGO_ROOT_USER=admin                   # The default, admin user.
# MONGO_ROOT_PASS=mysecretpassword        # Put a strong password here!
# MONGO_DATABASE=cheatsheetdb             # Database name
# MONGO_PORT=14002                        # MongoDB port

# Api configurations
# API_PORT=14001                          # The API port
# CORS_ALLOWED_ORIGINS=*                  # You can block requests from other frontends to your frontend
# RATE_LIMIT=100                          # Limit the of request/min to the API (must be a positive number)

# Frontend configurations
# FRONTEND_PORT=14000                     # The frontend port
# VITE_API_KEY=mysecretapipassword        # Left blank if you want a read-only instance

# The public IP of your API (don't put localhost here unless its all on your own machine!)
# Example: VITE_API_SERVER=http://100.200.201.54:14001 
VITE_API_SERVER=http://localhost:14001